body {background-image: url('http://www.bilder-kostenlose.de/landschaftsbilder3/landschaftsbilder-04.jpg');background-repeat: no-repeat;}
h1 { border: 3px dotted yellow; padding: 15px; font-variant: small-caps; font-weight: bold; font-style: italic; letter-spacing: 1px; }
h1 { color: red;}

*.text{font: 18pt arial;}
*.text{color: #0000ff}